:root {
    --wpify-core-primary: #00A0D2;
    --wpify-core-secondary: #826eb4;
    --wpify-core-success: green;
    --wpify-core-error: red;
    --wpify-core-gray: #e5e5e5;
    --wpify-core-light: #f1f7fb;
    --wpify-core-radius: 10px;
    --wpify-core-card-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.wpify-admin-page #wpcontent {
    padding-left: 0;
}

.wpify-admin-page #wpbody {
    padding: 20px 0 0 20px;
}

.wpify-dashboard__wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 40px;
}

.wpify__menu-bar {
    background: white;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    min-height: 60px;
    border-bottom: 1px solid var(--wpify-core-gray);

    @media screen and (max-width: 600px) {
        padding-top: 50px;
        flex-wrap: wrap;
    }
}

.wpify__menu-bar-column {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    column-gap: 20px;
}

.wpify__menu-bar-column.menu-column {
    @media screen and (min-width: 600px) {
        flex: 1;
    }

    @media screen and (max-width: 600px) {
        order: 3;
        width: 100%;
    }
}

.wpify__menu-bar-column > * {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

.wpify__logo {
    padding-left: 20px;
    border-left: 1px solid silver;
}

.wpify__logo svg {
    height: 30px;
}

.wpify__menu-bar-name {
    font-size: 18px;
    font-weight: bold;
    margin-right: 20px;
}

.wpify__menu-bar-item {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 60px;
    color: dimgray;
    text-decoration: none;
}

.wpify__menu-bar-item:hover {
    color: black;
}

.wpify__menu-bar-item.current,
.wpify__menu-section-bar-item.current {
    color: var(--wpify-core-primary);
    border-bottom: 3px solid var(--wpify-core-primary);
}

.wpify__menu-section-bar {
    background: white;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-content: center;
    border-bottom: 1px solid var(--wpify-core-gray);
}

.wpify__menu-section-bar-item {
    padding: 10px 20px;
    color: dimgray;
    text-decoration: none;
}

.wpify__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 2rem;
}

.wpify__card {
    display: flex;
    flex-direction: column;
    background: white;
    width: 100%;
    border-radius: var(--wpify-core-radius);
    overflow: hidden;
    box-shadow: var(--wpify-core-card-shadow);
    border: 1px solid var(--wpify-core-gray);
}

.wpify__card.wpify__card--50, .wpify__card.wpify__card--100 {
    max-width: 100%;
}

.wpify__card.wpify__card--50 {
    @media screen and (min-width: 1200px) {
        max-width: calc(50% - 12px);
    }
}

.wpify__card.active {
    border-top: 3px solid var(--wpify-core-success);
}

.wpify__card.active.no-licence {
    border-top: 3px solid var(--wpify-core-error);
}

.wpify__card.inactive {
    border-top: 3px solid var(--wpify-core-gray);
}

.wpify__card.inactive .wpify__card-head {
    opacity: 0.8;
    filter: grayscale(90%);
}

.wpify__card-head {
    display: flex;
    gap: 10px;
    padding: 20px;
    justify-content: start;
}

.wpify__card-head > div {
    flex: 1;
}

.wpify__card-head h3 {
    margin: 0;
}

.wpify__card-body {
    padding: 0 20px;
    flex: 1;
}

.wpify__card-body:empty {
    display: none;
}

.wpify__card-body p {
    margin-top: 0;
}

.wpify__card-footer {
    padding: 0 20px 20px 20px;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.wpify__modules-toggle {
    flex-flow: row;
    flex-wrap: wrap;
    gap: 20px;
}
.wpify__modules-toggle.wpify__modules-toggle--full {
    flex-flow: column;
}

th:has(label[for=enabled_modules]) {
    display: none;
}
th:has(label[for=enabled_modules]) + td {
    padding-left: 40px;
}

.wpify__modules-toggle > div {
    flex: 1;
    min-width: 235px;
    max-width: 327px;
    padding: 10px 20px;
    border-radius: var(--wpify-core-radius);
    border: var(--wpify-core-gray) 1px solid;
}
.wpify__modules-toggle > div:hover {
    border-color: var(--wpify-core-primary);
}

.wpify__modules-toggle.wpify__modules-toggle--full > div {
    max-width: 100%;
}
.wpify__modules-toggle.wpify__modules-toggle--full .components-toggle-control__label {
    padding-left: 20px;
}
.wpify__modules-toggle.wpify__modules-toggle--full .components-toggle-control__label div {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: end;
}

.wpify__modules-toggle .components-base-control .components-toggle-control__label > span {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}

.wpify__modules-toggle .components-base-control h3 {
    width: 100%;
    margin: 10px 0;
}

.wpify__modules-toggle .components-base-control .components-form-toggle {
    margin: 20px 10px 20px 0;
}

#wpbody .wrap > form {
    display: flex;
    column-gap: 0;
    flex-wrap: wrap;
    justify-content: start;
    max-width: 1200px;
}

form .components-base-control__field label {
    font-size: 14px;
}

form .wpifycf-field__description {
    color: #888;
    font-size: 13px;
}

form .wpifycf-field-multi-group__item {
    border-radius: 5px;
}

form .wpifycf-field-multi-group__item-header {
    background: var(--wpify-core-gray);
}

form .wpifycf-field-multi-group__content .wpifycf-field-group {
    padding-right: 1px;
    gap: 20px;
}

.wpifycf-app {
    border-bottom: 1px solid var(--wpify-core-gray);

    @media screen and (min-width: 783px) {
        border-bottom: none;
        border-right: 1px solid var(--wpify-core-gray);
        width: 20%;
    }
}

.wpifycf-app:empty {
    display: none;
}

.form-table {
    border-radius: var(--wpify-core-radius);
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: var(--wpify-core-card-shadow);
    background: white;
    margin-top: 0;

    @media screen and (min-width: 783px) {
        flex: 1;
    }
}

.form-table th {
    padding-left: 40px;
}
.form-table td {
    padding: 20px 40px 20px 10px;
}
.form-table td[colspan="2"] {
    padding-left: 40px;
}
.form-table tr:first-child th, .form-table tr:first-child td {
    padding-top: 40px;
}
.form-table tr:last-child th, .form-table tr:last-child td {
    padding-bottom: 40px;
}

.form-table .full-width {
    margin-left: -220px;
    width: calc(100% + 220px);
}

.form-table .full-width .wpifycf-field__label {
    width: 200px;
}
.form-table .full-width .wpifycf-field__wrapper {
    gap: 20px;
}

.form-table td .wpifycf-field-group {
    border: none;
    padding: 0;
    gap: 30px
}

p.submit {
    width: 100%;
    text-align: right;
}

.nav-tab-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: var(--wpify-core-radius);
    box-shadow: var(--wpify-core-card-shadow);
    background: white;
    padding: 20px;
    gap: 5px;
    margin-bottom: 20px;


    @media screen and (min-width: 783px) {
        border-bottom: none;
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
        margin-right: 40px;
    }
}

.nav-tab-wrapper .nav-tab {
    background: white;
    text-align: left;
    margin-left: 0;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 5px;

    @media screen and (min-width: 783px) {
    }
}

.nav-tab-wrapper .nav-tab:hover {
    color: var(--wpify-core-primary);
}

.nav-tab-wrapper .nav-tab.nav-tab-active {
    border-color: var(--wpify-core-primary);
    color: var(--wpify-core-primary);
    background-color: var(--wpify-core-light);
}

@media screen and (max-width: 783px) {
    .wpify__menu-bar-item span {
        display: none;
    }
}

@media screen and (min-width: 783px) {
    .wpify-dashboard__wrap {
        flex-direction: row;
    }

    .wpify-dashboard__content {
        flex: 1;
    }

    .wpify-dashboard__sidebar {
        width: 300px;
    }

    .wpify__card {
        max-width: 300px;
    }
}

input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week], select, textarea {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type=color] {
    padding: 1px 3px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.wpifycf-select .wpifycf-select__control {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.wpifycf-select .wpifycf-select__clear-indicator {
    color: red;
}

.form-table .components-form-toggle {
    height: 28px;
}

.form-table .components-form-toggle .components-form-toggle__track {
    width: 50px;
    height: 28px;
    border-radius: 16px;
    border-color: #cccccc;
}

.form-table .components-form-toggle.is-checked .components-form-toggle__track {
    background-color: var(--wpify-core-primary);
    border-color: var(--wpify-core-primary);
}

.form-table .components-form-toggle .components-form-toggle__thumb {
    width: 24px;
    height: 24px;
    background-color: #555555;
}

.form-table .components-form-toggle.is-checked .components-form-toggle__thumb {
    transform: translateX(22px);
}

.wpify-admin-page form p .button-primary, .wpify__card .button-primary, .license-field .components-button.is-primary {
    background: var(--wpify-core-primary);
    border-color: var(--wpify-core-primary);
    color: white;
    text-transform: uppercase;
}

.wpify-admin-page form p .button-primary {
    padding: 7px 15px;
}

.wpify-admin-page form p .button-primary:hover, .wpify-admin-page form p .button-primary:active,
.wpify__card .button-primary:hover, .wpify__card .button-primary:active,
.license-field .components-button.is-primary:hover {
    background: var(--wpify-core-secondary);
    border-color: var(--wpify-core-secondary);
}

.wpify__card .toggle-button {
    position: relative;
    width: 40px;
    height: 24px;
    border-radius: 15px;
    background: #999;
}

.wpify__card .toggle-button.active {
    background: var(--wpify-core-primary);
}

.wpify__card .toggle-button:hover, .wpify__card .toggle-button.active:hover {
    background: var(--wpify-core-secondary);
}

.wpify__card .toggle-button__thumb {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 10px;
}

.wpify__card .toggle-button.active .toggle-button__thumb {
    left: auto;
    right: 2px;
}

.wpify__card .toggle-button__label {
    width: 1px;
    height: 1px;
    overflow: hidden;
    opacity: 0;
}

.wpify-notice, .license-field {
    border: 1px solid rgba(6, 44, 241, 0.46);
    background-color: rgba(7, 73, 149, 0.12);
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 3px;
}

.license-field {
    display: flex;
    align-items: center;
    gap: 20px;
}

.license-field__text {
    flex: 1;
}

.license-field h3 {
    margin: 0;
}

.wpify-notice > *:last-child {
    margin-bottom: 0;
}

.wpify-notice.wpify-notice-success, .license-field.active {
    border-color: rgba(36, 241, 6, 0.46);
    background-color: rgba(7, 149, 66, 0.12);
}

.wpify-notice.wpify-notice-warning {
    border-color: rgba(241, 142, 6, 0.81);
    background-color: rgba(220, 128, 1, 0.16);
}

.wpify-notice.wpify-notice-error, .license-field.not-active {
    border-color: rgba(241, 6, 6, 0.81);
    background-color: rgba(220, 17, 1, 0.16);
}
