:root {
    --wpify-core-primary: #00A0D2;
    --wpify-core-secondary: #826eb4;
    --wpify-core-success: green;
    --wpify-core-danger: red;
    --wpify-core-light: #dbe3ec;
    --wpify-core-gray: #647080;
    --wpify-core-dark: #191e23;
    --wpify-core-bg: #ffffff;
    --wpify-core-bg-soft: #f3f7fb;
    --wpify-core-radius: 8px;
    --wpify-core-card-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.wpify-admin-page #wpcontent {
    padding-left: 0;
}

.wpify-admin-page #wpbody *:focus-visible {
    outline-color: var(--wpify-core-secondary);
}
.wpify-admin-page #wpbody a:focus,
.wpify-admin-page .wpify__menu-bar a:focus,
.wpify-admin-page .wpify__menu-section-bar a:focus {
    color: var(--wpify-core-secondary);
    box-shadow: 0 0 0 2px var(--wpify-core-secondary);
}

.wpify-admin-page #wpbody,
.wpify-admin-page .wpify__menu-bar,
.wpify-admin-page .wpify__menu-section-bar,
.wpify-admin-page h1, .wpify-admin-page h2, .wpify-admin-page h3{
    color: var(--wpify-core-dark);
}

.wpify-admin-page #wpbody {
    padding: 20px 0 0 20px;
}

.wpify-dashboard__wrap {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.wpify__menu-bar {
    background: white;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
    border-bottom: 1px solid var(--wpify-core-light);

    @media screen and (max-width: 600px) {
        padding-top: 50px;
        flex-wrap: wrap;
    }
}

.wpify__menu-bar-column {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 20px;
}

.wpify__menu-bar-column.menu-column {
    @media screen and (min-width: 600px) {
        flex: 1;
    }

    @media screen and (max-width: 600px) {
        order: 3;
        width: 100%;
    }
}

.wpify__menu-bar-column > * {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

.wpify__logo {
    padding-left: 20px;
    border-left: 1px solid var(--wpify-core-light);
}

.wpify__logo svg {
    height: 30px;
}

.wpify__menu-bar-name {
    font-size: 18px;
    font-weight: bold;
    margin-right: 20px;
}

.wpify__menu-bar-item {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 60px;
    color: var(--wpify-core-dark);
    text-decoration: none;
}

.wpify__menu-bar-item:hover,
.wpify__menu-section-bar-item:hover {
    color: var(--wpify-core-secondary);
}

.wpify__menu-bar-item.current,
.wpify__menu-section-bar-item.current {
    color: var(--wpify-core-primary);
    border-bottom: 3px solid var(--wpify-core-primary);
}

.wpify__menu-section-bar {
    background: var(--wpify-core-bg);
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid var(--wpify-core-light);
}

.wpify__menu-section-bar-item {
    padding: 10px 20px;
    color: var(--wpify-core-dark);
    text-decoration: none;
}

.wpify__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 2rem;
}

.wpify__card {
    display: flex;
    flex-direction: column;
    background: var(--wpify-core-bg);
    width: 100%;
    flex: 1 1 300px;
    border-radius: var(--wpify-core-radius);
    overflow: hidden;
    box-shadow: var(--wpify-core-card-shadow);
    border: 1px solid var(--wpify-core-light);
}

.wpify__card.wpify__card--50, .wpify__card.wpify__card--100 {
    max-width: 100%;
}

.wpify__card.wpify__card--50 {
    @media screen and (min-width: 1200px) {
        max-width: calc(50% - 12px);
    }
}

.wpify__card.active {
    border-top: 3px solid var(--wpify-core-success);
}

.wpify__card.active.no-licence {
    border-top: 3px solid var(--wpify-core-danger);
}

.wpify__card.inactive {
    border-top: 3px solid var(--wpify-core-light);
}

.wpify__card.inactive .wpify__card-head {
    opacity: 0.8;
    filter: grayscale(90%);
}

.wpify__card-head {
    display: flex;
    gap: 10px;
    padding: 20px;
    justify-content: flex-start;
}

.wpify__card-head > div {
    flex: 1;
}

.wpify__card-head h3 {
    margin: 0;
}

.wpify__card-body {
    padding: 0 20px;
    flex: 1;
}

.wpify__card-body:empty {
    display: none;
}

.wpify__card-body p {
    margin-top: 0;
}

.wpify__card-footer {
    padding: 0 20px 20px 20px;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.wpify__modules-toggle {
    flex-flow: row wrap;
    gap: var(--wpifycf-gap-4);
}
.wpify__modules-toggle.wpify__modules-toggle--full {
    flex-flow: column;
}

th:has(label[for=enabled_modules]) {
    display: none;
}
th:has(label[for=enabled_modules]) + td {
    padding-left: 40px;
}

.wpify__modules-toggle > div {
    flex: 1;
    min-width: 235px;
    max-width: 327px;
    padding: 10px 20px;
    border-radius: var(--wpify-core-radius);
    border: var(--wpify-core-light) 1px solid;
    background: var(--wpify-core-bg-soft);
}
.wpify__modules-toggle > div:hover {
    border-color: var(--wpify-core-secondary);
}

.wpify__modules-toggle.wpify__modules-toggle--full > div {
    max-width: 100%;
}
.wpify__modules-toggle.wpify__modules-toggle--full .components-toggle-control__label {
    padding-left: var(--wpifycf-gap-4);
}
.wpify__modules-toggle.wpify__modules-toggle--full .components-toggle-control__label div {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: end;
}

.wpify__modules-toggle .components-base-control .components-toggle-control__label > span {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}

.wpify__modules-toggle .components-base-control h3 {
    width: 100%;
    margin: 10px 0;
}

.wpify__modules-toggle .components-base-control .components-form-toggle {
    margin: 20px 10px 20px 0;
}

#wpbody .wrap > form {
    max-width: 1200px;
}
.wpifycf-app-instance {
    display: flex;
    flex-wrap: wrap;
    gap: var(--wpifycf-gap-4);
}

.wpifycf-app-instance .components-base-control__field label {
    font-size: 14px;
}

.wpifycf-app-instance .wpifycf-field__description {
    color: var(--wpify-core-gray);
    font-size: 13px;
}

.wpifycf-app-instance .wpifycf-field-multi-group__item {
    border-radius: var(--wpify-core-radius);
    border-color: var(--wpify-core-light);
}

.wpifycf-app-instance .wpifycf-field-group {
    padding: 0;
    border: none;
    gap: var(--wpifycf-gap-4);
}
.wpifycf-app-instance .wpifycf-field-multi-group__content .wpifycf-field-group {
    padding-right: 1px;
    gap: var(--wpifycf-gap-4);
}
.wpifycf-field__wrapper:has(>.wpifycf-field__label) {
    column-gap: 30px;
}

.wpifycf-field__wrapper:has(> .wpifycf-field__control > .wpify_group_container),
.wpifycf-field__wrapper:has(> .wpifycf-field__control > .wpify_field_container) {
    display: flex;
    flex-direction: column;
    border-radius: var(--wpify-core-radius);
    border: 1px solid var(--wpify-core-light);
    gap: 0;
    background: var(--wpify-core-bg);
}
.wpifycf-field__wrapper:has(> .wpifycf-field__control > .wpify_group_container) > label,
.wpifycf-app-instance .wpifycf-field-multi-group__item-header {
    padding: 10px var(--wpifycf-gap-4);
    background: var(--wpify-core-light);
    border-top-left-radius: calc(var(--wpify-core-radius) - 1px);
    border-top-right-radius: calc(var(--wpify-core-radius) - 1px);
    font-weight: bold;
}
.wpifycf-field__wrapper:has(> .wpifycf-field__control > .wpify_field_container) > label {
    padding: var(--wpifycf-gap-4);
    padding-bottom: 0;
}
.wpifycf-field__wrapper:has(> .wpifycf-field__control > .wpify_group_container) > .wpifycf-field__control,
.wpifycf-field__wrapper:has(> .wpifycf-field__control > .wpify_field_container) > .wpifycf-field__control {
    padding: var(--wpifycf-gap-4);
}
.wpifycf-field__wrapper .wpifycf-field__control .wpify_group_container {
    width: 100%;
}
.wpifycf-field__wrapper .wpifycf-field__control .wpify_group_container .wpifycf-field-columns {
    gap: var(--wpifycf-gap-4);
}

.wpifycf-field__wrapper:has(> .wpifycf-field__control >  .wpify_group_container--row) {
    flex-direction: row;
}

.wpifycf-field__wrapper:has(> .wpifycf-field__control >  .wpify_wrapper--column) {
    grid-template-columns: 1fr;
}
.wpifycf-field__wrapper:has(> .wpifycf-field__control >  .wpifycf-field-group),
.wpifycf-field__wrapper:has(> .wpifycf-field__control >  .wpifycf-field-multi-group) {
    row-gap: var(--wpifycf-gap-2);
}
.wpify_group_container--row .wpifycf-field-multi-group__item {
    display: flex;
    flex-direction: row;
}
.wpifycf-field__wrapper:has(> .wpifycf-field__control > .wpify_group_container--row:not(.wpifycf-field-multi-group)) > label,
.wpify_group_container--row .wpifycf-field-multi-group__item-header {
    flex-direction: column;
    border-top-left-radius: calc(var(--wpify-core-radius) - 1px);
    border-bottom-left-radius: calc(var(--wpify-core-radius) - 1px);
    border-top-right-radius: 0;
}
.wpifycf-field__wrapper:has(> .wpifycf-field__control > .wpify_group_container--row:not(.wpifycf-field-multi-group)) > label,
.wpify_group_container--row .wpifycf-field-multi-group__title {
    writing-mode: vertical-lr;
    text-orientation: mixed;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.wpify_group_container--row .wpifycf-field-multi-group__header-actions {
    flex-direction: column;
}
.wpifycf-field__wrapper:has(.wpify_group_container--row) > .wpifycf-field__control,
.wpify_group_container--row .wpifycf-field-multi-group__content {
    flex: 1;
}
.wpifycf-field-multi-group__content {
    padding: var(--wpifycf-gap-4);
}
.wpifycf-field__wrapper:has(.wpify_bg_soft),
.wpifycf-field-multi-group__content {
    background: var(--wpify-core-bg-soft);
}
.wpify_bg_soft .wpifycf-field-multi-group__content,
.wpify_bg_soft .wpify_group_container,
.wpifycf-field-multi-group__content .wpifycf-field-multi-group__content {
    background: var(--wpify-core-bg);
}

.wpifycf-app-instance__fields {
    border-radius: var(--wpify-core-radius);
    box-shadow: var(--wpify-core-card-shadow);
    background: var(--wpify-core-bg);
    padding: 20px;
    gap: 30px;

    @media screen and (min-width: 783px) {
        flex: 1;
        padding: 40px;
        gap: 40px;
    }
}

.wpify-divider {
    border-bottom: 1px solid var(--wpify-core-light);
}

p.submit {
    width: 100%;
    text-align: right;
}

.nav-tab-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: var(--wpify-core-radius);
    box-shadow: var(--wpify-core-card-shadow);
    background: var(--wpify-core-bg);
    padding: var(--wpifycf-gap-4);
    gap: 5px;
    min-width: 200px;

    @media screen and (min-width: 783px) {
        border-bottom: none;
        flex-direction: column;
        margin-bottom: 0;
        align-self: flex-start;
    }
}

.nav-tab-wrapper .nav-tab {
    background: var(--wpify-core-bg);
    text-align: left;
    margin-left: 0;
    padding: 10px 20px;
    border: 1px solid var(--wpify-core-bg);
    border-radius: 5px;
    color: var(--wpify-core-dark);
}

.nav-tab-wrapper .nav-tab:hover {
    color: var(--wpify-core-secondary);
}
.nav-tab-wrapper .nav-tab:focus {
    border-color: var(--wpify-core-secondary);
}

.nav-tab-wrapper .nav-tab.nav-tab-active {
    border-color: var(--wpify-core-primary);
    color: var(--wpify-core-primary);
    background-color: var(--wpify-core-bg-soft);
}

@media screen and (max-width: 783px) {
    .wpify__menu-bar-item span {
        display: none;
    }
}

@media screen and (min-width: 783px) {
    .wpifycf-app-instance {
        flex-direction: row;
        gap: 40px;
    }

    .wpify-dashboard__wrap {
        flex-direction: row;
    }

    .wpify-dashboard__content {
        flex: 1;
    }

    .wpify-dashboard__sidebar {
        width: 300px;
    }
}

.wpify-admin-page #wpbody input,
.wpify-admin-page #wpbody textarea,
.wpifycf-select .wpifycf-select__control {
    border: 1px solid var(--wpify-core-light);
    border-radius: 5px;
    padding: 5px 10px;
}

.wpify-admin-page #wpbody input:not(.wpifycf-select__input):hover,
.wpify-admin-page #wpbody textarea:hover,
.wpifycf-select .wpifycf-select__control:hover {
    border-color: var(--wpify-core-secondary);
}
.wpify-admin-page #wpbody input:not(.wpifycf-select__input):focus,
.wpify-admin-page #wpbody textarea:focus,
.wpifycf-select .wpifycf-select__control--is-focused,
.components-form-toggle .components-form-toggle__input:focus+.components-form-toggle__track {
    border-color: var(--wpify-core-secondary);
    box-shadow: 0 0 0 1px var(--wpify-core-secondary);
}

.wpify-admin-page #wpbody input[type=color] {
    padding: 1px 3px;
}

.wpifycf-select .wpifycf-select__indicator {
    cursor: pointer;
}
.wpifycf-select .wpifycf-select__dropdown-indicator {
    color: var(--wpify-core-gray);
}
.wpifycf-select .wpifycf-select__control--is-focused .wpifycf-select__dropdown-indicator,
.wpifycf-select .wpifycf-select__control:hover .wpifycf-select__dropdown-indicator {
    color: var(--wpify-core-secondary);
}
.wpifycf-select .wpifycf-select__clear-indicator {
    color: var(--wpify-core-danger);
}
.wpifycf-select .wpifycf-select__placeholder {
    color: var(--wpify-core-gray);
}

.wpifycf-field-multi-select__option {
    background: var(--wpify-core-light);
}
.wpifycf-app-instance .components-form-toggle {
    height: 28px;
}

.wpifycf-app-instance .components-form-toggle .components-form-toggle__track {
    width: 50px;
    height: 28px;
    border-radius: 16px;
    background-color: var(--wpify-core-bg);
    border-color: var(--wpify-core-light);
}

.wpifycf-app-instance .components-toggle-control:hover .components-form-toggle .components-form-toggle__track {
    border-color: var(--wpify-core-secondary);
}

.wpifycf-app-instance .components-form-toggle.is-checked .components-form-toggle__track {
    background-color: var(--wpify-core-primary);
    border-color: var(--wpify-core-primary);
}

.wpifycf-app-instance .components-form-toggle .components-form-toggle__thumb {
    width: 24px;
    height: 24px;
    background-color: var(--wpify-core-dark);
}
.wpifycf-app-instance .components-form-toggle.is-checked .components-form-toggle__thumb {
    background-color: var(--wpify-core-bg);
    transform: translateX(22px);
}

.wpifycf-app-instance table {
    border-color: var(--wpify-core-light);
}
.wpifycf-app-instance table tr th, .wpifycf-app-instance table tr td {
    border-color: var(--wpify-core-light);
    padding: 10px;
}
.wpifycf-app-instance table thead {
    background: var(--wpify-core-light);
}
.wpifycf-app-instance table tfoot {
    background: var(--wpify-core-bg-soft);
}

.wpifycf-app-instance .wpifycf-button,
.wpifycf-app-instance .button {
    border-color: var(--wpify-core-primary);
    color: var(--wpify-core-primary)!important;
    background: var(--wpify-core-bg-soft);
}
.wpifycf-app-instance .wpifycf-button:hover,
.wpifycf-app-instance .button:hover {
    border-color: var(--wpify-core-secondary);
    color: var(--wpify-core-secondary)!important;
}

.wpify-admin-page form p .button-primary, .wpify__card .button-primary, .license-field .components-button.is-primary {
    background: var(--wpify-core-primary);
    border-color: var(--wpify-core-primary);
    color: white;
    text-transform: uppercase;
}

.wpify-admin-page form p .button-primary {
    padding: 7px 15px;
}

.wpify-admin-page form p .button-primary:hover, .wpify-admin-page form p .button-primary:active,
.wpify__card .button-primary:hover, .wpify__card .button-primary:active,
.license-field .components-button.is-primary:hover {
    background: var(--wpify-core-secondary);
    border-color: var(--wpify-core-secondary);
}

.wpify__card .toggle-button {
    position: relative;
    width: 40px;
    height: 24px;
    border-radius: 15px;
    background: var(--wpify-core-bg-soft);
    border: 1px solid var(--wpify-core-light);
}

.wpify__card .toggle-button.active {
    background: var(--wpify-core-primary);
}

.wpify__card .toggle-button:hover, .wpify__card .toggle-button.active:hover {
    border-color: var(--wpify-core-secondary);
}

.wpify__card .toggle-button__thumb {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    background-color: var(--wpify-core-dark);
    border-radius: 10px;
}

.wpify__card .toggle-button.active .toggle-button__thumb {
    left: auto;
    right: 2px;
    background: var(--wpify-core-bg);
}

.wpify__card .toggle-button__label {
    width: 1px;
    height: 1px;
    overflow: hidden;
    opacity: 0;
}

.wpifycf-icon-button--light:not(.wpifycf-icon-button--trash) svg {
    fill: var(--wpify-core-dark);
}
.wpifycf-icon-button--light:not(.wpifycf-icon-button--trash):hover svg {
    fill: var(--wpify-core-primary);
}

.wpify-notice, .license-field {
    border: 1px solid rgba(6, 44, 241, 0.46);
    background-color: rgba(7, 73, 149, 0.12);
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 3px;
}

.license-field {
    display: flex;
    align-items: center;
    gap: var(--wpifycf-gap-4);
}

.license-field__text {
    flex: 1;
}

.license-field h3 {
    margin: 0;
}

.wpify-notice > *:last-child {
    margin-bottom: 0;
}

.wpify-notice.wpify-notice-success, .license-field.active {
    border-color: rgba(36, 241, 6, 0.46);
    background-color: rgba(7, 149, 66, 0.12);
}

.wpify-notice.wpify-notice-warning {
    border-color: rgba(241, 142, 6, 0.81);
    background-color: rgba(220, 128, 1, 0.16);
}

.wpify-notice.wpify-notice-error, .license-field.not-active {
    border-color: rgba(241, 6, 6, 0.81);
    background-color: rgba(220, 17, 1, 0.16);
}
